PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/spillit
JWT_SECRET=spillit_super_secret_jwt_key_skcet_2026_x99!
SERVER_SECRET=hmac_salt_spillit_secure_key_skcet_anon_engine_99
ALLOWED_DOMAIN=skcet.ac.in
ADMIN_EMAIL=admin@skcet.ac.in
VLM_API_URL=http://10.153.245.155:8000
NODE_ENV=development
